<li>
	<a href="https://scholar.google.com/citations?user=U-GhD5IAAAAJ&hl=en" itemprop="sameAs">
		<i class="ai ai-google-scholar ai-fw"></i> Google Scholar
	</a>
</li>

<li>
	<a href="https://www.researchgate.net/profile/Eirik_Valseth" itemprop="sameAs">
		<i class="ai ai-researchgate ai-fw"></i> ResearchGate
	</a>
</li>

<li>
	<a href="https://arxiv.org/search/?searchtype=author&query=Valseth%2C+E" itemprop="sameAs">
		<i class="ai ai-arxiv ai-fw"></i> arXiv
	</a>
</li>

<li>
	<a href="https://orcid.org/0000-0001-6940-4191" itemprop="sameAs">
		<i class="ai ai-orcid ai-fw"></i> ORCID
	</a>
</li>
